language: php
dist: trusty
matrix:
  include:
    - php: 7.2
      dist: trusty
php:
  - 7.2

addons:
  apt:
    packages:
      - apt-utils
      - build-essential
      - cmake
      - make
      - libxerces-c-dev
      - libpcre++-dev
      - libmysqlclient-dev
#  mariadb: '10.4'

services: mysql

before_install:
  - sudo mysql -e 'CREATE DATABASE IF NOT EXISTS evqueue;'
  - sudo mysql -e "CREATE USER 'evqueue'@'localhost' IDENTIFIED BY 'password';"
  - sudo mysql -e "GRANT ALL PRIVILEGES ON evqueue.* to 'evqueue'@'localhost' IDENTIFIED BY 'password';"
  - sudo git clone https://github.com/coldsource/evqueue-core.git
  - sudo cp tests/evqueue.conf /etc
  - cd evqueue-core
  - sudo mkdir build
  - cd build
  - sudo cmake ..
  - sudo make
  - sudo groupadd evqueue
  - sudo useradd -m -g evqueue evqueue
  - sudo ./evqueue --config /etc/evqueue.conf
  - cd ../../

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - vendor/bin/phpunit --configuration phpunit.xml.dist
