language: php
dist: trusty
matrix:
  include:
    - php: 7.2
      dist: precise
php:
  - 7.2

addons:
  mariadb: '10.0'

services: mariadb

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS evqueue;'
  - mysql -e "GRANT ALL PRIVILEGES ON evqueue.* to evqueue@localhost IDENTIFIED BY 'password';"
  - sudo apt-get update -qq
  - sudo wget http://www.evqueue.net/data/debian8/evqueue-core_2.0_amd64.deb
  - sudo dpkg -i evqueue-core_2.0_amd64.deb
  - sudo apt-get -f install
  - sudo service evqueue start
#  - sudo beanstalkd -l 127.0.0.1 -p 11300 &

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - vendor/bin/phpunit --configuration phpunit.xml.dist
